<style>
    .footer {
        padding: 20px 0 5px 30px;
        background-color: lightgrey;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
    }
</style>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>關於xxx</h4>
                <p><a href="aaa">系統介紹</a></p>
                <p><a href="aaa">服務條款</a></p>
            </div>
            <div class="col-md-4">
                <h4>常見問題</h4>
                <p><a href="aaa">登入問題</a></p>
                <p><a href="bbb">帳號問題</a></p>
                <p><a href="ccc">操作問題</a></p>
            </div>
            <div class="col-md-4">
                <h4>聯絡我們</h4>
                <p><a href="mailto:service@xxx.com">寫Email</a></p>
                <p>電話: (02)1234-5678</p>
            </div>
        </div>
    </div>
</div>