<script src="~/js/view/Forum.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "使用者管理" } })
<div class="xg-prog">
    <div id="divRead">
		<form id='formRead' class='xg-form'>
			<div class="row">
				@await Component.InvokeAsync("XiText", new XiTextDto{ Title = "討論區名稱", Fid = "Name", MaxLen = 20, InRow = true })
				@await Component.InvokeAsync("XgFindTbar")
			</div>
        </form>

		<div class='xg-btns-box'>
			@await Component.InvokeAsync("XgCreate")
        </div>
        <div class='row'>
            <div class='col-sm-12'>
                <table id="tableRead" class="table table-bordered xg-table" cellspacing="0">
                    <thead>
                        <tr>
                            @await Component.InvokeAsync("XgTh", new XgThDto { Title = "討論區名稱", MinWidth = 80 })
                            @await Component.InvokeAsync("XgTh", new XgThDto { Title = "狀態", MinWidth = 50 })
                            @await Component.InvokeAsync("XgTh", new XgThDto { Title = "建立人員", MinWidth = 60 })
                            @await Component.InvokeAsync("XgTh", new XgThDto { Title = "建立日期", MinWidth = 80, HideRwd = true })
                            @await Component.InvokeAsync("XgTh", new XgThDto { MinWidth = 40 })
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="divEdit" class="xg-hide">
        <partial name="Edit" />
    </div>
</div>