
<script>
    //save jwt token
    //window.onload = function() {
    //    _fun.setJwtToken('@ViewBag.Token');
    //};
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Help Earth</p>
</div>
