@model LoginVo
<style>
    .xu-line {
        width: 100%;
        height: 15px;
        border-bottom: 1px solid lightgray;
        text-align: center;
        margin: 15px 0 25px 0;
    }
    .xu-line span {
        font-size: 16px;
        background-color: #ffffff;
        padding: 0px 10px;
    }

    .btn-default {
        border-color: lightgray !important;
    }
</style>

<script>
    $(function () {
        var form = $('form');
        _valid.init(form);
        _obj.get('Account', form).focus();

        var error = '@Model.ErrorMsg';
        if (error !== '')
            _tool.msg(error);
    });
</script>

<form action='/Home/Login2' method='post' class='col-md-3 xg-form xg-border'>
    <vc:xi-text dto="@(new(){ Title = "帳號", Fid = "Account", Value=@Model.Account, MaxLen = 30, Required = true, Cols = "12" })"/>
    <vc:xi-text dto="@(new(){ Title = "密碼", Fid = "Pwd", Value=@Model.Pwd, MaxLen = 30, Required = true, IsPwd = true, Cols = "12" })"/>
    <vc:xi-check dto="@(new(){ Fid = "Remember", Label = "Remember me" })"/>

    <div style="margin-top:20px">
        <button type="submit" class="btn btn-primary">登入</button>
        <button type="button" class="btn btn-secondary">建立帳號</button>
        <button type="button" class="btn btn-secondary">忘記密碼</button>
    </div>

    <div class="xu-line">
        <span>or login by</span>
    </div>
    <a class="btn btn-default" href="/Home/OpenGoogle?url=@Model.FromUrl">
        <img src="/image/google.jpg" width="20" />Google
    </a>
    <a class="btn btn-default" href="/Home/OpenFb?url=@Model.FromUrl">
        <img src="/image/facebook.jpg" width="20" />Facebook
    </a>
</form>