
.xg-prog-path {
    padding: 8px 4px !important;
}

#divEdit {
    margin: 5px 15px 10px 15px;
    padding: 15px;
    border: 1px solid #ddd !important;
    border-radius: 4px;
}

@media (max-width:768px) {
    #divEdit {
        border: none !important;
        padding: 0;
    }
}
